# Project place file
*.rbxlx
**/*.rbxm

# Roblox Studio lock files
**/*.rbxlx.lock
**/*.rbxl.lock

# Packages
/Packages
/ServerPackages

src/main/*
src/shared/*
src/client/loop.luau
src/server/loop.luau

sourcemap.json
wally.lock